body {
  background-color: aquamarine;
}

.points-animation {
  display: flex;
  gap: 10px;
  width: max-content;
  margin: 50px auto;
  animation: point-load 2s ease 1s infinite;
}

.point {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@keyframes point-load {
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
